<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <timestamp key="BY-DATE" datePattern="yyyy-MM-dd"/>
     <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
       <layout class="ch.qos.logback.classic.PatternLayout">
           <pattern>%d{HH:mm:ss.SSS} [%thread] %-4level[%logger.%method:%line]-
           %msg%n</pattern>
       </layout>
     </appender>
     <root>
         <level value="INFO"/>
         <appender-ref ref="CONSOLE"/>
      </root>

   <logger name="com.haebub.controller">
       <level value="INFO"></level>
   </logger>
   <logger name="org.springframework.core">
       <level value="INFO"></level>
   </logger>
    <logger name="org.springframework.beans">
        <level value="INFO"></level>
    </logger>

    <logger name="org.springframework.context">
        <level value="INFO"></level>
    </logger>
    <logger name="org.springframework.web">
        <level value="INFO"></level>
    </logger>
</configuration>