footer {
    background-color: #F0EEEF;
    font-size: 14px;
    padding: 8px 0;
}

footer ul {
    margin: 15px;
}
footer ul li {
    display: inline-block;
    margin-right: 16px;
}

footer .footer_one {
    border-bottom: 1px solid black;
    width: 96%;
    margin: 0 auto;
}

footer .footer_two {
    text-align: center;
}