#tea_detail {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.border_bottom, .tea_lecList {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#tea_detail .tea_name {
    font-size: 52px;
    font-family: 'MapoDPPA';
}

#tea_detail .tea_name span {
    font-family: 'MapoDPPA';
}

#tea_detail .t_intro span {
    font-weight: bold;
}


#tea_detail .t_intro {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 60px;
}

#tea_detail .tea_intro {
    font-size: 32px;
}

.top1 {
    background-color: #c6dbda;
}

.top2 {
    background-color: #e4c4b7;
}

.top3 {
    background-color: #ecd5e3;
}

.top4 {
    background-color: #ffffb5;
}

.tea_top > img {
    position: absolute;
    left: 41%;
}

.tea_top {
    height: 700px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 639px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* 하위 */
.border_bottom {
    border-bottom: 4px solid black;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.tea_lecList ul li {
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 2px solid #495057;
}

.tea_lecList .lecList_li1 {
    flex-grow: 1;
    width: 100px;
    color: black;
}
.tea_lecList .lecList_li2 {
    flex-grow: 2;
    width: 400px;
}

.tea_lecList .lecList_li2 .book {
    color: #495057;
    font-size: 16px;
}

.tea_lecList .lecList_li3 {
    flex-grow: 1;
    width: 100px;
    text-align: end;
}

.t_lec {
    position: relative;
    top: 60px;
    right: 20px;
}

/* 페이징처리한 곳 */
.page {
    text-align: center;
    margin-top: 10px;
}

.page .page_text {
    font-size: 20px;
}

.page .now {
    font-weight: bold;
    color: #495057;
}

.page .other{
    color: #495057;
}

/* 왼쪽 메뉴 */
#tea_detail .m {
    padding-top: 68px;
}

#tea_detail .m ul {
    width: 23%;
}

#tea_detail .m ul li {
    border-bottom: 1px solid;
    font-size: 22px;
    padding: 10px;
}