#teaList {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#teaList > h2 {
    text-align: center;
    border-bottom: 4px solid black;
    font-size: 48px;
    letter-spacing: 18px;
    margin-bottom: 10px;

}

#teaList .tea_list ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

#teaList .tea_list ul li {
    width: 210px;
    height: 320px;
    padding: 20px;
    background-size: cover;
    background-position-x: 38px;
    background-position-y: 30px;
    background-repeat: no-repeat;
    margin: 20px 0;
    border: 1px solid #555555;
}

#teaList .teaList_p1 {
    font-size: 18px;
    color: #000;
}

#teaList .teaList_a {
    font-size: 28px;
    font-weight: bolder;

}

#teaList .teaList_span {
    margin-top: 12px;
    font-size: 14px;
    background-color: white;
}

/* 과목별 배경색 설정하기 */
.li1 {
    background-color:  #f1f3f5;
}
