/* 머스타드색 #FFB15c */
/* 초록 #469B72*/
/* 검정 #1D152D*/
/* 연한 회색 #F0EEEF*/
/* 핑크  #F0C9CE*/


* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}
#join{
    width: 90%;
    margin: 30px auto;
}
ul li {
    list-style: none;
    padding: 20px;
    text-align: center;
}

h2{
    text-align: center;
}



#id{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #F0EEEF ;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#id:focus{
    border-color: #FFB15c;
}
#id_check{
    padding: 5px 10px;
    font-size: 16px;
    background-color: #FFB15c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color
}
#pwd{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#pwd:focus{
    border-color: #FFB15c;
}
#name{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#name:focus{
    border-color:#FFB15c;
}
#nickname{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#nickname:focus{
    border-color: #FFB15c;
}
#nickname_check2{
    padding: 5px 10px;
    font-size: 16px;
    background-color:#FFB15c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color
}
#teacher_school{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#teacher_school:focus{
    border-color: #FFB15c;
}

#sample6_postcode{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#sample6_postcode:focus{
    border-color: #FFB15c;
}
#sample6_postcode2 {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #FFB15c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color
}
#sample6_address{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#sample6_address:focus{
    border-color:#FFB15c;
}
#sample6_detailAddress{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#sample6_detailAddress:focus{
    border-color:#FFB15c;
}
#sample6_extraAddress{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#sample6_extraAddress:focus{
    border-color: #FFB15c;
}
#fav_region {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#fav_region:focus{
    border-color:  #FFB15c;
}

#tel{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#tel:focus{
    border-color:  #FFB15c;
}
#email{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 300px;
}
#email:focus{
    border-color:  #FFB15c;
}
#email_check2{
    padding: 5px 10px;
    font-size: 16px;
    background-color:  #FFB15c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color
}
#joinBtn{
    background-color: #469B72;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
    font-weight: bold;
    width: 300px;
    height: 50px;
}
#down_btn {
    position: relative;
    left: 500px;
    top: 20px;
    background-color: #eaebef;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    width: 300px;
    text-align: center;

}
#next{
    position: relative;
    left: 1000px;
    top: -50px;
    background-color: #FFB15c;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    width: 300px;
    text-align: center;
}
/* 아이디 사용가능 */
.id_check_re_1{
 color: green;
    list-style: none;
}
/* 아이디 불가능 */
.id_check_re_2{
    color: red;
    list-style: none;
}