#form-signupin {
    margin: 0 auto;
    text-align: center;
    height: 75vh;
    display:table;
}

#form-signupin .div1 {
    display:table-cell ;
    vertical-align:middle;
}

#form-signupin ul li {
    list-style: none;
}

#form-singin h1 {
    font-size: 25px;
    font-weight: 800;
}

.input_btn{
    background-color: #F0C9CE;
    width: 460px;
    height: 48px;
    border: none;
    margin: 7px 0;
    padding: 5px;
    box-sizing: border-box;
    font-size: 17px;
}
.login_btn{
    background-color: #FFB15c;
    width: 460px;
    height: 56px;
    border: none;
    margin: 7px 0;
    padding: 5px;
    box-sizing: border-box;
    font-size: 17px;
}

.join_btn{
    color: #F0C9CE;
}
.join_btn{
    color: #F0C9CE;
}