/* 머스타드색 #FFB15c */
/* 초록 #469B72*/
/* 검정 #1D152D*/
/* 연한 회색 #F0EEEF*/
/* 핑크  #F0C9CE*/

@media screen and (min-width: 768px),
screen and (min-height: 760px) and (orientation: landscape) {
    * {
        font-family: "Noto Sans KR", sans-serif;

    }
    ul li{
        list-style: none;
    }
    .form-singin{
        max-width: 390px;
        position: relative;
        width: 100%;
        padding: 120px 120px;
        margin: 10px ;
        left: 30%;

    }

    .input_btn{
        border:none;
        background-color: #F0C9CE;
        width: 460px;
        height: 48px;
        margin: 7px;
        padding: 5px;
        box-sizing: border-box;
    }
    .login_btn{
        font-family: "Noto Sans KR", sans-serif;
        background-color: #FFB15c;
        width: 460px;
        height: 56px;
        border:none;
        margin: 7px;
        margin-top: 11px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 15px;
    }

    .writeForm>h1{
        font-family: "Noto Sans KR", sans-serif;
        position:  relative;
        top: -20px;
        left: 45%;
    }
    .writeForm>ul>li{
        position:  relative;
        top: 10px;
        left: 40%;
    }
    .join_btn{
        color: #F0C9CE;
    }




}

@media screen and (max-width: 767px),
screen and (max-height: 479px) and (orientation: landscape) {
    * {
        font-family: "Noto Sans KR", sans-serif;

    }
    ul li{
        list-style: none;
    }
    .form-singin{
        max-width: 390px;
        position: relative;
        width: 100%;
        padding: 20px 20px;
        /*margin: 10px ;*/
        /*left: 30%;*/

    }

    .input_btn{
        background-color: #F0C9CE;
        width: 460px;
        height: 48px;
        border: none;
        /*border: 3px solid #CBDAE1;*/
        margin: 7px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 17px;
    }
    .login_btn{
        font-family: "Noto Sans KR", sans-serif;
        background-color: #FFB15c;
        width: 460px;
        height: 56px;
        border: none;
        /*border: 3px solid #CBDAE1;*/
        margin: 7px;
        margin-top: 11px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 17px;
    }

    .writeForm>h1{
        font-family: "Noto Sans KR", sans-serif;
        position:  relative;
        top: -20px;
        left: 45%;
    }
    .writeForm>ul>li{
        position:  relative;
        top: 10px;
        left: 40%;
    }
    .join_btn{
        color: #F0C9CE;
    }
    .join_btn{
        color: #F0C9CE;
    }


}