#videoarticle {
    background-color: #F0EEEF;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    height: 580px;
}

.videolist {
    width: 30%;
}

.videolist > a {
    font-size: 30px;
    font-weight: bold;
}
.videolist > ul > li > a {
    font-size: 20px;
}

.videolist > ul > li {
    margin-top: 10px;
}

.videoresult {
    width: 1080px;
}

video {
    width: 100%;
    object-fit: fill;
}

.division-line {
    border-bottom: 3px solid black;
    width: 80%;
}
