.content_row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.site_status{
    min-width: 360px;
    border: 1px solid silver;
    flex-grow: 1;
    max-width: 500px;
    margin-right : 24px;
    margin-bottom : 24px;
    /*여기에 할 애가 많아지면 스크롤으로 처리하지 뭐*/
    height: 380px;
}
.site_chart{
    min-width: 540px;
    max-width: 800px;
    border: 1px solid silver;
    flex-grow: 2;
    height: 380px;

}


.table_row{
    height: 500px;
    border: 1px solid red;
}
