#lecDetail .lec_title{
    text-align: center;
}

#lecDetail .lecDetail_img img {
    width: 800px;
    height: 450px;
}

#lecDetail .lecDetail_title {
    font-size: 40px;
    font-weight: bolder;
}


